<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098516515516-euqfkv1isqf99lulnjigm0nhm9len5a0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098516515516-euqfkv1isqf99lulnjigm0nhm9len5a0</string>
	<key>API_KEY</key>
	<string>AIzaSyDkqdHVRcpednHCgWdHhC6RXMqX2k4zr6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1098516515516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SoLa.LoadQueen</string>
	<key>PROJECT_ID</key>
	<string>queenroad-601e2</string>
	<key>STORAGE_BUCKET</key>
	<string>queenroad-601e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098516515516:ios:fa68f94a00a83b5e7e5eb9</string>
	<key>DATABASE_URL</key>
	<string>https://queenroad-601e2-default-rtdb.firebaseio.com</string>
</dict>
</plist>